<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>CyberMart</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <header id="navBar" class="">
    <nav class="d-flex justify-content-around align-items-center">
      <h2><span>Cyber</span>Mart</h2>
      <input type="text" id="search" placeholder="Search Items...">

      <div class="d-flex gap-4 list-unstyled align-items-center">
        <i class="fa-solid fa-circle-half-stroke" id="mode-toggle"></i>
        <a href="/" target="_self">Home</a>
        |
        {{#if logged_in}}
        Hello
        {{user_name}}
        |
        <button class='no-button' id='logout'>Logout</button>
        |
        <a href='/profile'>profile</a>
        {{else}}
        <a href="/login" target="_self">Log In</a>
        {{/if}}
        <div class="red-container">
        <i class="fa-solid fa-cart-shopping fa-lg" id="cart"></i>
        </div>
      </div>

    </nav>
  </header>

  <body>

    {{{body}}}

    <aside id="cart-aside" class="col-md-4 ">
      <div class="heading-container d-flex justify-content-center">
        <h1 style="color: white;">Your Cart</h1>
        <i class="fa-regular fa-circle-xmark fa-lg" id="exit-marker"></i>
      </div>
      <div id="section-container">
        <div class="d-flex justify-content-center">
        </div>
      </div>
      <div class="text-center">
        <a href='/checkout' id="checkout">checkout</a>
      </div>
    </aside>

  </body>
  <footer id="footer" class="">
    <a href="https://github.com/Ch40s1/CyberMart" target="_blank">Contact Us</a>
    <a href="https://github.com/Ch40s1/CyberMart" target="_blank">Github</a>
  </footer>
  {{!-- {{#if techItems.length}}
  <div id="load-more-container">
    <button id="load-more">Load More</button>
  </div>
  {{/if}} --}}
  {{#if logged_in}}
  <!-- Render script for logged in users only -->
  <script src='/js/logout.js'></script>
  {{/if}}

  <script src='/js/cart.js'></script>
  <script src='/js/colorMode.js'></script>
  <script src="https://kit.fontawesome.com/9cca718ac3.js" crossorigin="anonymous"></script>
</body>

</html>
