  <div class="container">
        <h1 class="mt-4">Checkout Page</h1>

        <!-- Item 1 -->
        <div class="row mt-4">
            <div class="col-md-3">
                <img src="item1.jpg" alt="Item 1" class="img-fluid">
            </div>
            <div class="col-md-9">
                <h4>Name: Item 1</h4>
                <p>Price: $10.99</p>
            </div>
        </div>

        <!-- Total -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h4 class="text-right">Total Price: $45.47</h4>
            </div>
        </div>
    </div>
    <div class="container" id="checkout-container">
        <h1>Hi</h1>
    </div>
    <script src="/js/cartUpdate.js"></script>
