<main class="row mt-4">
  <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/Acer+Desktop.jpg" />
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>Acer Desktop</li>
        <li>$300</li>
      </ul>
    </div>
  </div>
  </div>
  <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/AMIR-Gaming-Mouse.jpg" />
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>AMIR Gaming Mouse</li>
        <li>$100</li>
      </ul>
    </div>
  </div>
  </div>
  <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/apple-vision.jpg" />
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>Apple Vision</li>
        <li>$3000</li>
      </ul>
    </div>
  </div>
  </div>
  <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/gaming-keyboard.jpg">
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>Gaming Keyboard</li>
        <li>$150</li>
      </ul>
    </div>
  </div>
  </div>
    <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/gaming-keyboard.jpg">
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>Gaming Keyboard</li>
        <li>$150</li>
      </ul>
    </div>
  </div>
  </div>
   <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/Acer+Desktop.jpg" />
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>Acer Desktop</li>
        <li>$300</li>
      </ul>
    </div>
  </div>
  </div>
  <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/AMIR-Gaming-Mouse.jpg" />
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>AMIR Gaming Mouse</li>
        <li>$100</li>
      </ul>
    </div>
  </div>
  </div>
  <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/apple-vision.jpg" />
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>Apple Vision</li>
        <li>$3000</li>
      </ul>
    </div>
  </div>
  </div>
  <div class="product-container col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center">
    <img src="/img/gaming-keyboard.jpg">
    <div class="d-flex flex-column align-items-center">
      <ul>
        <li>Gaming Keyboard</li>
        <li>$150</li>
      </ul>
    </div>
  </div>
  </div>
</main>
