<section style="min-height: 82vh;">
<div class="d-flex justify-content-around mt-5 col-12 flex-wrap">
  <div class=" regular-text">
    <h2>Login</h2>
    <form class="d-flex flex-column login-form">
      <label for="username-login">Username:</label>
      <input type="text"  id="username-login"/>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login"/>
      <button class="btn btn-primary col-4" type="submit">Login</button>
    </form>
  </div>
  <div class=" regular-text">
    <h2>Signup</h2>
    <form class="d-flex flex-column signup-form">
      <label for="name-signup">Name:</label>
      <input type="text" id="name-signup"/>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup"/>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup"/>
      <button class="btn btn-primary col-4" type="submit">Signup</button>
    </form>
  </div>
</div>
</section>
<script src="./js/login.js"></script>
