<section style="min-height: 88vh;">
  <div class="container">
    <section class="profile-section">
      <div>
        <h1>Welcome {{user_firstName}}</h1>
      </div>
      <section>
        <div>
          <h3>Name: {{user_firstName}}</h3>
          <form>
            <div class="mb-3">
              <label for="nameInput" class="form-label">New Name</label>
              <input type="text" class="form-control" id="nameInput">
            </div>
            <button type="submit" class="btn btn-primary">Change Name</button>
          </form>
        </div>
        <div>
          <h3>Username: {{user_name}}</h3>
          <form>
            <div class="mb-3">
              <label for="usernameInput" class="form-label">New Username</label>
              <input type="text" class="form-control" id="usernameInput">
            </div>
            <button type="submit" class="btn btn-primary">Change Username</button>
          </form>
        </div>
        <div>
          <h3>Password: *********</h3>
          <form>
            <div class="mb-3">
              <label for="passwordInput" class="form-label">New Password</label>
              <input type="password" class="form-control" id="passwordInput">
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
          </form>
        </div>
      </section>
    </section>
  </div>
</section>
{{!--
<script src="./js/profile.js"></script> --}}
