<div>
<h1 style="color: aliceblue;">Welcome: User</h1>
</div>
<section>
  <div>
    <button>Chnage Username </button>
    <button>Chnage Password </button>
    <button>Add Product </button>
    <button>View Product </button>
  </div>
</section>
<br>
<section>
  <h1 style="color: aliceblue;">YOUR PRODUCTS</h1>
  <div>
    <img src="/img/tech.jpeg">
    <h3 style="color: aliceblue;">Description:</h3>
    <ul>
      <li>
        price: $$
      </li>
    </ul>
    <p style="color: aliceblue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium
      nobis quasi cumque aspernatur ea, dolor eligendi iure? Vero, molestias.</p>
  </div>
</section>
{{!-- <script src="./js/profile.js"></script> --}}
