/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */
:root {
  --text-color: #FFFFFF;
  --background-color-primary: #333333;
  --background-color-secondary: #1E272E;
  --background-color-tertiary: #000000;
}

#navBar{
  background-color: var(--background-color-primary);
  background-image: url(../img/Technology-Wallpaper.jpg);
  image-resolution: 200px;
  color: var(--text-color);
}
a{
  color: var(--text-color);
}
.container{
  background-color: var(--background-color-secondary);
  color: var(--text-color);
}
.title{
  background-color: var(--background-color-tertiary);
}
img{
  height: 300px;
  width: 300px;
}
/* .product-container{
  width: 18rem;
  height: 18rem;
  margin: 100px;
} */
body{
  background-color: var(--background-color-secondary);
}
ul{
  list-style: none;
}
li{
  color: var(--text-color);
}
.regular-text{
  color: var(--text-color);
}
