*{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
/*Dark mode*/
:root {
  --text-color: #000000;
  --section-color: #00FFFF;
  --background-color-primary: #1f242d;
  --background-color-secondary: #F0F0F0;
  --background-color-tertiary: #EAEAEA;
  --navbar-color-text: #FFFFFF;
  --border-color: #000000;
  /* --triad-color: #3347F5; */
  --triad-color: #93278F;
}
/*light mode*/
.dark-mode {
  --text-color: #FFFFFF;
  --background-color-primary: #333333;
  --background-color-secondary: #1E272E;
  --background-color-tertiary: #000000;
  --navbar-color-text: #FFFFFF;
  --border-color: #FFF;
  --cart-color: #c8c6c6;
  --triad-color: #F57A4B;
}
#navBar{
  background-color: var(--background-color-primary);
  /* background-image: url(../img/Technology-Wallpaper.jpg); */
  image-resolution: 200px;
  color: var(--navbar-color-text);
}
a{
  color: var(--navbar-color-text);
}
.container{
  background-color: var(--background-color-secondary);
  color: var(--text-color);
}
.title{
  background-color: var(--background-color-tertiary);
}
img{
  height: 300px;
  width: 300px;
}
/* .product-container{
  width: 18rem;
  height: 18rem;
  margin: 100px;
} */
body{
  background-color: var(--background-color-secondary);

}
ul{
  list-style: none;
}
li{
  color: var(--text-color);
}
#logout{
  color: var(--navbar-color-text);
}
.regular-text{
  color: var(--text-color);
}
.red-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: red;
}
span{
  background-color: red;
}
.heading-container{
  background-color: var(--background-color-primary);
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--text-color);
  text-decoration-line: underline;
  font-size: 100%;
}
.no-button:hover {
  /* color: #065b83; */
  text-decoration: underline;
}
#mode-toggle{
  cursor: pointer;
}
#cart{
  color: #fff;
}
#cart:hover{
  cursor: pointer;
}
.gif{
  width: 8rem;
}
#cart-aside {
  display: none;
  position: fixed;
  top: 4rem;
  right: 0; /* Position the cart on the right side */
  bottom: 15rem;
  left: auto;
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background */
  background-color: var(--background-color-tertiary);
  z-index: 1000; /* Ensure it appears above other content */
  overflow-y: auto; /* Enable scrolling if content exceeds the viewport */
  border: 5px solid var(--border-color);
  border-radius: 10px;
}
#checkout{
  color: var(--text-color);
}
#cart-aside.open {
  display: block;
}
#cart-content {
  transform: translateY(-50%);
  padding: 20px;
}
#exit-marker{
  position: absolute;
  left: 0;
  top: 10px;
  color: var(--navbar-color-text);
}
#exit-marker:hover{
  cursor: pointer;
}
.cart-container{
  color: var(--text-color);
  border: 5px solid var(--border-color);
  display: flex;
  justify-content: space-around;
}
.cart-container img{
  height: 5rem;
  width: 5rem;
}
#cart-aside h1{
   color: var(--text-color);
}
.deleteButton {
  color: black;
}
.load{
  border-top: 4px solid var(--text-color);
}
#load-more{
  background-color: var(--triad-color);
  color: white;
}
#footer {
  background-color: var(--background-color-primary);
  color: var(--navbar-color-text);
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
  margin-top: auto; /* Push the footer to the bottom */
  margin-bottom: 0;
  /* Add any additional styles for your footer here */
}
